.button {
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0;
  color: rgb(var(--blue));

  &:hover {
    cursor: pointer;
  }
}

.button-yellow {
  background-color: rgb(var(--yellow));

  &:hover {
    background-color: rgb(var(--yellow-light));
  }
}
