.input-field {
  display: flex;
  flex-direction: column;
  width: 25rem;

  &__input {
    border: 2px solid rgb(var(--gray));
    border-radius: 0.5rem;
    padding: 0.7rem 0.7rem;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__error {
    margin-top: 0.5rem;
    color: red;
  }
}
