.input-select {
  select {
    width: 5rem;
    border: 2px solid rgb(var(--gray));
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}
